
Movies.xcodeproj/xcuserdata/rohit.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Movies.xcodeproj/project.xcworkspace/xcuserdata/rohit.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
